.toolbutton {
	-fx-padding: 10;
	-fx-background-color: 
		#3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-size: 100;
}

.toolbutton:hover {
	-fx-background-color: #6faad6;
}

.toolbar {
	-fx-background-color: 
	#3c7fb1,
	linear-gradient(#79bef2, #1f8fe2);
	-fx-padding: 5;
	-fx-border-width: 2;
	-fx-border-color: #436b89;
}

.box {
	-fx-border-color: #436b89;
	-fx-border-width: 3;
	-fx-font-size: 15;
	-fx-font-weight: bold;
}

.list-cell { 
    -fx-background-color: #ffffff;
    
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#ADF0F8 0%, #A3F1FA 25%, #94EFF9 75%, #90EEF9 100%);
    -fx-text-fill: black;
}

.color-picker .color-picker-label .text {
	visibility: false;
}




